#b1{
    text-align:"center";
}
#login{
    background-image:"images/andrew-ridley-jR4Zf-riEjI-unsplash.jpg";
}
#d1{
    float:left;
    width:auto;
    height:auto;
}
#d2{
    float:right;
    height:auto;
    width:auto;
}